@import 'general';

#header{
    position: fixed;
    z-index: 10;
    top: 0;
    border-top: 8px solid rgb(255, 255, 255);
    width: 100%;
    background-color: black;
}
.navbar{
    @include caja-flex (space-between, center, nowrap);
    ul{
        display: flex;
        padding: 0;
        a{
            margin-right: 7px;
            padding: 10px;
            font-size: 1.8rem;
        }
        a:hover{
            transform: scale(1.2);
        }
    }
    #navbarSupportedContent{
        position: absolute;
        right: 0px;
        bottom: 5px;
    }
}
/*HOME*/
.titulosHome{
    justify-content: start;
}
.mySlide {
    margin: 68px;
    .carousel-item{
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 1;
        
        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            background-color: rgba(0,0,0,0.5);
            z-index: -1;
        }
        .container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
        }
        h1{
            font-size: 80px;
            color: #ffffff;
            margin: 0 0 10px;
        }
        p{
            font-size: 30px;
            margin: 0;
            color: #eeeeee;
            opacity: 0;
        }
    }
    .carousel-item.active h1{
        animation: fadeInLeft 1s ease forwards;
    }
    .carousel-item.active p{
        animation: fadeInRight 1s ease forwards;
    }
}

@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
/*.mySlide .carousel-item{
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.mySlide .carousel-item:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}
.mySlide .carousel-item .container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.mySlide .carousel-item h2{
    font-size: 80px;
    color: #ffffff;
    margin: 0 0 10px;
    opacity: 0;
}
.mySlide .carousel-item  p{
    font-size: 30px;
    margin: 0;
    color: #eeeeee;
    opacity: 0;
}
.mySlide .carousel-item.active h2{
    animation: fadeInLeft 0.5s ease forwards;
}
.mySlide .carousel-item.active p{
    animation: fadeInRight 0.5s ease forwards;
}
@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.mySlide .carousel-control-next,.mySlide .carousel-control-prev{
    height: 60px;
    width: 60px;
    background-color: rgba(0,0,0,0.5);
    opacity: 1;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.mySlide .carousel-control-next{
    right: 120px;
}
.mySlide .carousel-control-prev{
    left: 120px;
} */