/*MEDIA QUERIE PANTALLA XL*/

@media all and (max-width: 1200px){
    .mySlide{
        .carousel-control-next, .carousel-control-prev{
            height: 50px;
            width: 50px;
            border-radius: 40%;
        }
        .carousel-item h1{
            font-size: 50px;
        }
        .carousel-item p{
            font-size: 19px;
        }
        .carousel-control-next{
            right: 50px!important;
        }
        .carousel-control-prev{
            left: 50px!important;
        }
    }
}

/*MEDIA QUERIE PANTALLA LG*/

@media all and (max-width: 992px){
    .mySlide{
        .carousel-control-next, .carousel-control-prev{
            height: 35px!important;
            width: 35px!important;
            border-radius: 30%;
        }
        .carousel-item h1{
            font-size: 50px!important;
        }
        .carousel-item p{
            font-size: 19px!important;
        }
        .carousel-control-next{
            right: 60px!important;
        }
        .carousel-control-prev{
            left: 60px!important;
        }
    }
    .titulosHome{
		font-size: 2rem;
	}
    .navbar-nav{
		position: relative!important;
		text-align: center!important;
	}
}

/*MEDIA QUERIE PANTALLA MD*/

@media all and (max-width: 768px){
    .mySlide{
        .carousel-control-next, .carousel-control-prev{
            height: 30px!important;
            width: 30px!important;
            border-radius: 30%;
        }
        .container h1{
            font-size: 35px!important;
        }
        .container p{
            font-size: 15px!important;
        }
        .carousel-control-next{
            right: 30px!important;
        }
        .carousel-control-prev{
            left: 30px!important;
        }
    }
    .titulosHome{
        font-size: 2rem;
    }
}
